<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
  <a class="navbar-brand" href="{% url 'index' %}">Voto</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'create_question' %}">Create Question</a></li>
            <li><a href="{% url 'my_question' %}">My Question</a></li>
            <li><a href="#">Contact Us</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- <form class="form-signout", action="{% url 'index' %}", method="post">
      <button type="button" class="btn btn-default navbar-btn">Sign out</button>
    </form> -->

    {% if error_message %}
    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> {{error_message}}
    </div>
    {% endif %} 
    <form action="{% url 'create_question' %}" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="exampleInputEmail1">Question</label>
    <input type="text" class="form-control" id="Question" placeholder="Question" name="question_text">
  </div>
  <div class="form-group">
    <label for="Choice">Choice</label>
    <input type="text" class="form-control" id="Choice" placeholder="Choice seperated by commas" name="choice_array">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
  </form>


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
  </body>
</html>