
<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
  <a class="navbar-brand" href="{% url 'index' %}">Voto</a>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'create_question' %}">Create Question</a></li>
            <li><a href="{% url 'my_question' %}">My Question</a></li>
            <li><a href="#">Contact Us</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'sign_out' %}">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- <form class="form-signout", action="{% url 'index' %}", method="post">
      <button type="button" class="btn btn-default navbar-btn">Sign out</button>
    </form> -->
    {% if message %}
      {{message}}
    {% endif %}
    {% if question %}
    <h4> {{question.question_text}} </h4>
    <h5> Options Are: </h5>
    <form action="{% url 'vote' question.id %}" method="post"> 
  {% csrf_token %}

    {% for choice in question.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>
    {% endif %}
    <h3> URL : {{ url }} </h3>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../../../static/js/bootstrap.min.js"></script>
  </body>
</html>